/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* CSS Starts here */

.rectangle {
    height: 50px;
    width: 400px;
    background-color: #827169;
    margin:0;
    
  }

  

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  margin: 0;
  background: #EBE6E5;
  height: auto;
}

h1 {
  font-weight: 400;
  
  color:#EBE6E5;
  
}

img {
  display: block;
  width: 100%;
}

  
  .rectangle2 , .rectangle{
    height: 20px;
    width: 100%;
    background-color: #827169;
  }
.p1{
    background-color: #3F3E3E;
}


.paragraph1
{
    

    width:100%;
    margin-top: 15px;
    margin-bottom:15px;
    padding-bottom:10px;
    font-family: 'DM Sans', sans-serif;
    text-align: justify;
    color:#3F3E3E;
}

.firstbox{
  display:block;
  background:#bab7b7;
  
  margin-left:10%;
  margin-right:10%;
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  

}

.secondbox{
  display:block;
  background:#bab7b7;
  
  margin-left:10%;
  margin-right:10%;
  margin-top: 2rem;

  padding-top: 0.5rem;
 

}
.paragraph2
{
    background-color: #bab7b7 ;
    width:100%;
    margin-top: 15px;
    margin-bottom:15px;
    font-family: 'DM Sans', sans-serif;
    color:#3F3E3E;
}

#header {
  padding: 1.5rem;
  text-align: center;
  background: #3F3E3E;
  color: #EBE6E5;
  
}


#header h2 {
  border-left: dotted 1px #EBE6E5;
  border-right: dotted 1px #EBE6E5;
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
}


.h3{
  font-family: 'DM Sans', sans-serif;
  font-size:1.2rem;
  padding-bottom: 1rem;
  background: #bab7b7;

}



.cover {
  text-align: right;
  color: #EBE6E5;
  font-size: 0.6rem;
}

.centered {
  background: #3F3E3E;
  opacity: 90%;
  top: 300px;
  padding: 2%;
  width:100%;
}




















/* Screen Sizes 500px and Up */
@media (min-width: 500px) {
  #landing {
    display: flex;
    height: 100%;
  }

  #landing-text {
    height: 100vh;
  }

  #landing-image {
    height: 100vh;
  }
}

